# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# macOS system files
.DS_Store

# Dependency directories
node_modules/

# Build output
dist/
out/
.next/

# IDE / Editor configs
.idea/
.vscode/

# Environment variables
.env

# Tests and coverage
coverage/
test-results.xml
report/